<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD PRODUCT</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/add-product">Add Product</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/submit" method="POST">
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" required>
            
            <label for="Phnum">Contact Number</label>
            <input type="number" id="Pnumn" name="Pnum" required>
            
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>